<%- include("includes/header", {title:"Chat Messages",
stylesheet:"/styles.css"}) %>
<body>
  <div class="container">
    <h2>Chat Messages</h2>
    <form action="/chats/new" method="get">
      <button class="btn btn-outline-primary">New Chat</button>
    </form>
    <br />
    <% for (let chat of chats) { %>
    <div class="chat">
      <div class="chat-header">
        <p class="sender">
          <span><i class="fa-solid fa-user"></i> &nbsp; <%= chat.from %></span>
        </p>
        <p class="receiver">To:&nbsp;<span><%= chat.to %></span></p>
        <p class="timestamp">
          <span>Sent on:</span>
          <%= chat.created_at.toString().split(" ").slice(0, 3).join(" ") %>,
          <%= chat.created_at.toString().split(" ")[3] %>. &nbsp;At: <%=
          chat.created_at.toString().split(" ")[4] %>
        </p>

        <% if(chat.updated_at) { %>
        <p class="timestamp">
          <span>Updated on:</span>
          <%= chat.updated_at.toString().split(" ").slice(0, 3).join(" ") %>,
          <%= chat.updated_at.toString().split(" ")[3] %>. &nbsp;At: <%=
          chat.updated_at.toString().split(" ")[4] %>
        </p>
        <% } %>
      </div>

      <div class="chat-message">
        <p><%= chat.msg %></p>
      </div>
      <br />
      <form action="/chats/<%= chat._id %>/edit" method="get">
        <button class="btn btn-primary">Edit</button>
      </form>
    </div>
    <% } %>
  </div>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</body>
